body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.register-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.register-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label a {
    color: #009688;
    text-decoration: none;
}

.checkbox-group label a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #00796b;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #009688;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}


/* CSS for the flash messages */
.flash-message {
    width: 100%;
    height: 5vh; /* Set height to 5 viewport height */
    background-color: #ee5253; /* Green background for success */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 10px; /* Add some padding */
    position: fixed; /* Fix it at the top */
    top: 0; /* Align it to the top */
    left: 0; /* Align it to the left */
    z-index: 1000; /* Ensure it's on top of other elements */
    display: none; /* Hide by default */
    font-size: 1.2rem; /* Set font size */
    /* or use font-size: 18px; */
}
